@model Orders.ViewModels.Orders.OrderViewModel
@{
    ViewData["Title"] = "CreateOrder";
}

<h1>Создание заказа</h1>
<br />
@{ if (ViewBag.ErrorMessage != null)
    {
        <h7 class="text-danger">@ViewBag.ErrorMessage</h7>
    }
}
<br />
<div class="row">
    <div class="col-md-8">
        <form asp-action="CreateOrder" class="form-control border-dark">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Номер</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label">Поставщик</label>
                <select asp-for="ProviderId" asp-items="ViewBag.Providers" class="form-control"></select>
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-outline-success" />
                <input type="submit" value="Отменить" asp-action="Index" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>
